@model AS_lab1_gr1.Models.Tag

<form asp-action="AddOrUpdate" asp-controller="Tag" asp-route-id="@Model.TagId" method="get">
	<button type="submit" class="w3-btn w3-green">Edytuj</button>
</form>
<form asp-action="Delete" asp-controller="Tag" asp-route-id="@Model.TagId" method="get">
	<button type="submit" class="w3-btn w3-green">Usuń</button>
</form>
<h1>@Model.Name</h1>
@if (Model.Articles is not null)
{
	<ul>
		@foreach (var a in Model.Articles)
		{
			<li>
				<a asp-action="Details" asp-controller="Article" asp-route-id="@a.ArticleId">@a.Title</a>
			</li>
		}
	</ul>
}