@model AS_lab1_gr1.Models.Article
@{
	var checkedTags = ViewBag.checkedTagList as List<SelectListItem>;
}

<h1>@ViewBag.Header</h1>

<form asp-route="AddOrUpdate" method="post" class="w3-container">
	<input type="hidden" asp-for="ArticleId" />
	<p>
		<label asp-for="Title">Tytuł:</label>
		<input asp-for="Title" class="w3-input w3-border" />
	</p>
	<p>
		<label asp-for="Lead">Lead:</label>
		<textarea asp-for="Lead" class="w3-input w3-border"></textarea>
	</p>
	<p>
		<label asp-for="Content">Treść:</label>
		<textarea asp-for="Content" class="w3-input w3-border"></textarea>
	</p>
	<p>
		<label asp-for="Author">Autor:</label>
		<select asp-for="AuthorId" asp-items="@ViewBag.authorList" class="w3-input w3-border"></select>
	</p>
	<p>
		<label asp-for="Category">Kategoria:</label>
		<select asp-for="CategoryId" asp-items="@ViewBag.categoryList" class="w3-input w3-border"></select>
	</p>
	<p>
		<label asp-for="Tags">Tagi:</label>
		@foreach (var tag in ViewBag.tagList as List<SelectListItem>)
		{
			bool isChecked = checkedTags?.Any(t => t.Value == tag.Value) == true;
			<p>
				<label>@tag.Text</label>
				<input type="checkbox" name="Tags" value="@tag.Value" class="w3-check" @(isChecked ? "checked" : "") />
			</p>
		}
	</p>
	<p>
		<button type="submit" class="w3-btn w3-border">@ViewBag.ButtonText</button>
	</p>
</form>