@model AS_lab1_gr1.Models.Article

<h1>Usuwanie artykułu:</h1>

<h1>@Model.Title</h1>
@if (Model.Match is not null)
{
	<h2>@(Model.Match.HomeTeam + " - " + Model.Match.AwayTeam)</h2>
}
@if (Model.Category is not null)
{
	<p>@Model.Category.Name</p>
}
<h2>@Model.Lead</h2>
<p>@Model.Content</p>
<h3>
	@if (Model.Author is not null)
	{
		@(Model.Author.FirstName + " " + Model.Author.LastName)
	}
	@Model.CreationDate.ToShortDateString()
</h3>
<ul>
	@if (Model.Tags is not null)
	{
		@foreach (var t in Model.Tags)
		{
			<li>
				<p>@(t.Name)</p>
			</li>
		}
	}
</ul>
<ul>
	@if (Model.Comments is not null)
	{
		@foreach (var c in Model.Comments)
		{
			<li>
				<p>@(c.Title)</p>
				<p>@(c.Content)</p>
			</li>
		}
	}
</ul>
<form asp-action="Delete" method="post" class="w3-container">
    <p>Czy usunąc artykuł?</p>
    <input type="hidden" asp-for="ArticleId" />
    <p>
        <button type="submit" class="w3-btn w3-border">Usuń</button>
    </p>
</form>